<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico')}}">
    <title>Server Dashboard</title>
  </head>

  <body>
    <aside class="sidebar">
      <h2>Dashboard</h2>

      <a href="/dashboard">Dashboard</a>
      <a id="logoutButton">Log out</a>
    </aside>

    <main class="content">
      <section class="stats">
        <div class="card">
          <h3>Active servers</h3>
          <p id="active-servers">-</p>
        </div>

        <div class="card">
          <h3>Online players</h3>
          <p id="online-players">-</p>
        </div>
      </section>

      <section class="servers">
        <h2>Servers</h2>

        <div id="servers-list"></div>
      </section>
    </main>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>
  </body>
</html>
