<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/server.css') }}"
    />
    <title>Server Dashboard</title>
  </head>

  <body>
    <div class="container">
      <button id="back-button">back</button>
      <!-- Server info -->
      <div class="stats-box">
        <div class="stat">
          <h3>CPU</h3>
          <p id="cpu">35%</p>
        </div>

        <div class="stat">
          <h3>RAM</h3>
          <p id="ram">4.2GB / 8GB</p>
        </div>

        <div class="stat">
          <h3>Storage</h3>
          <p id="storage">25GB / 100GB</p>
        </div>
      </div>

      <!-- Main panel -->
      <div class="panel">
        <div class="tabs">
          <button class="tab active" data-tab="console">Console</button>
          <button class="tab" data-tab="log">Log</button>
          <button class="tab" data-tab="file">File</button>
          <button class="tab" data-tab="config">Config</button>
          <button class="tab" data-tab="player">Player</button>
        </div>

        <div class="content">
          <!-- Console -->
          <div class="tab-content active" id="console">
            <div class="terminal" id="console-output">
              <p>Waiting for logs...</p>
            </div>

            <input class="command-input" placeholder="Enter command..." />

            <div class="buttons">
              <button class="start">Start</button>
              <button class="stop">Stop</button>
            </div>
          </div>

          <!-- Log -->
          <div class="tab-content" id="log">
            <div class="terminal">
              <p>[INFO] Server initialized</p>
              <p>[INFO] Plugins loaded</p>
              <p>[WARN] High memory usage</p>
            </div>
          </div>

          <div class="tab-content" id="file">
            <h4>Coming soon!</h4>
          </div>
          <div class="tab-content" id="config">
            <button id="delete-server-button">Delete</button>
          </div>
          <div class="tab-content" id="player">
            <h4>Coming soon!</h4>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/server.js') }}"></script>
  </body>
</html>
