<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css')}}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico')}}">
    <title>breadUI signup</title>
  </head>
  <body>
    <div class="signup-box">
      <h1>Signup</h1>

      <form id="signupForm">
        <div class="input-group">
          <input type="text" id="username" required />
          <label>Username</label>
        </div>

        <div class="input-group">
          <input type="password" id="password" required />
          <label>Password</label>
        </div>

        <div class="input-group">
          <input type="password" id="passwordConfirmation" required />
          <label>Confirm password</label>
        </div>

        <button type="submit" id="signup-button">signup</button>

        <p id="message"></p>
      </form>
    </div>

    <script src="{{ url_for('static', filename='scripts/signup.js')}}"></script>
  </body>
</html>
